<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-FranciscoMedellin/blob/main/Actividad_01_Notas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 01 Python Basics

## Your First program

In [1]:
print('Hello, Python!')

Hello, Python!

In [2]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [3]:
# Comentarios de codigo usando: "#"
print('Hello, Python!') # comentario xx
# print('Hi')

Hello, Python!

In [4]:
# Errores
frint("Hello, Python!")

NameError: ignored

## Types

In [5]:
# Tipo de dato entero
i = 10
# tipo de dato float
f = 10.0

# string de texto
s = "hello world"

In [6]:
# funcion para conocer tipo de dato
type(12) # retornara int

int

In [7]:
# convertir tipo de datos int a float
type(float(2))

float

In [8]:
# casting 1.1 number float to integer
int(1.1)

1

In [9]:
# convertir numeros a string
print(str(1))
print(str(1.2))

1
1.2

## Expressions and Variables

In [10]:
# expresiones
43 + 60 + 16 + 41

160

In [13]:
# multiplicacion, suma, resta, division, division int
print(50 - 60)
print(50 + 60)
print(50 * 60)
print(50 / 60)
print(50 // 60)

-10
110
3000
0.8333333333333334
0

In [14]:
# variables
x = 43 + 60 + 16 + 41

In [15]:
y = x / 60

In [16]:
total_min = 43 + 42 + 57 # Total length of albums in minutes

# Modulo 02

## Lists

In [28]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [29]:
# List slicing
L[3:5]

[]

In [30]:
# Use append to add elements to list
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [31]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [32]:
# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [33]:
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [34]:
# Clone (clone by value) the list A
B = A[:]
B

['banana', 10, 1.2]

## Tuplas

In [17]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [18]:
# index in tuples
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [19]:
# Last item using -1
tuple1[-1]

1.2

In [21]:
# concate tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [22]:
# slicing
tuple2[0:3]

('disco', 10, 1.2)

In [23]:
# Length of tuples
len(tuple2)

5

In [24]:
# Sorting tuples
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [25]:
# Nested Tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [26]:
# Acceso a cada elemento interno de los diferentes items en la tupla
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [27]:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

## Sets

Los set son colecciones de datos que guardan valores unicos. Se representan como una lista pero con {}.

In [35]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [37]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
           "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [41]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [42]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [43]:
# Remove the element from set
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

Logica de sets y operaciones

In [44]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

Podemos encontrar intercecciones o diferencias entre ambos sets.

In [46]:
# Find the intersections
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [47]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

{'Thriller'}

In [48]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [49]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [50]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [51]:
# Check if subset

set(album_set2).issubset(album_set1)

False

## Diccionarios

Los diccionarios son conjuntos de datos que consisten en keys y values. En lugar de ser indexados numericamente como una lista estos tienen keys que a su vez tienen valores.


```
dic = {
  key : value,
  key2: value,
  keyn: value, #...
  }
```

In [52]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [53]:

# Access to the value by the key

Dict["key1"]

1

In [54]:
# Access to the value by the key

Dict[(0, 1)]

6

In [55]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

#### Keys

In [56]:
# Get value by keys
release_year_dict['Thriller']

'1982'

In [57]:
release_year_dict['The Bodyguard']

'1992'

In [58]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [59]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [60]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

# Module 03

## Conditions

Comparison Operators
Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

* equal: ==
* not equal: !=
* greater than: >
* less than: <
* greater than or equal to: >=
* less than or equal to: <=

Let's assign a a value of 5. Use the equality operator denoted with two equal == signs to determine if two values are equal. The case below compares the variable a with 6.

In [61]:
# Condition Equal

a = 5
a == 6

False

In [62]:
# Greater than Sign

i = 6
i > 5

True

In [64]:
# Inequality Sign
i = 6
i != 6

False

In [63]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [65]:
# Compare characters
print('B' > 'A')
print('BA' > 'AB')

True
True

#### Branching
Branching allows us to run different statements for different inputs. It is helpful to think of an if statement as a locked room, if the statement is True we can enter the room and your program will run some predefined tasks, but if the statement is False the program will ignore the task.

In [66]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [67]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [68]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [69]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

#### Logical operators

*   and
*   or
*   not

In [70]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [71]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's