<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-FranciscoMedellin/blob/main/Semana_2_Actividad_01_Notas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 04

## Reading Files with Open

We can use the function "open()" in order to manage files. 

```
# Example
File1 = open("/resources/data/Example2.txt", "w")
```

The first parameter is the file path.
The second parameter is the "mode".
- w: writing
- r: reading
- a: apending

Then we have the file1 object representing to our file object in the code.

Use "with" to open file is a good practice.
```
with open("Exapmle1.txt", "r") as File1:
  file_stuff = File1.read()
  print(file_stuff)

  print(File1.closed)
  print(file_stuff)
```

We can use readlines() to read each line in the file.
```
with open("Exapmle1.txt", "r") as File1:
  file_stuff = File1.readlines()
  print(file_stuff)

  print(file_stuff[0]) # "This is the line 1\n"
  print(file_stuff[1]) # "This is the line 2\n"

```

We can use readline(n) to read the first line in the file, n is an optional parameter to set how character we want to read.
```
with open("Exapmle1.txt", "r") as File1:
  file_stuff = File1.readline()
  print(file_stuff) # this is the line 1
  file_stuff = File1.readline(4)
  print(file_stuff) # this is the line 2 with 4 characters

## Writting Files with Open

We can open open files using open fuction.
```
# File1 = open("Example2.txt", "w")
with open("Example2.txt", "w") as Files1:
  File1.write("This is line A")

```

In [ ]:
with open("Example2.txt", "w") as File1:
  File1.write("This is line A\n")
  File1.write("This is line B\n")
  print(File1)

<_io.TextIOWrapper name='Example2.txt' mode='w' encoding='UTF-8'>

We can write lines in a file using For

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open("Example2.txt", "w") as File1:
  for line in Lines:
    File1.write(line)

Si utilizamos el tipo de modo "a", appenden, no creara un nuevo archivo sino que agregara lineas sobre uno existente.

In [ ]:
with open("Example2.txt", "a") as File1:
  File1.write("This is line D\n")

Podemos copiar de un archivo a otro.
```
# Primero abrimos el archivo de fuentes a copiar
# Luego dentro abrimos el archivo sobre el cual copiaremos.
with open("Example1.txt", "r") as readfile:
    with open("Example2.txt", "w") as writefile:
      for line in readfile:
        writefile.write(line)
```

## Loading Data with Pandas

In [ ]:
# Importamos la libreria
import pandas as pd

Tenemos una serie de funciones en pandas:


*   read_csv()
*   Series()
* DataFrame
* values
* etc...

Podemos leer y cargar un archivo con pandas.
```
import pandas as pd
csv_path = "file1.csv"
df = pd.read_csv(csv_path)
```

La forma en que pandas trabaja los archivos de datos es mediante datarames.
```
import pandas as pd
csv_path = "file1.csv"
df = pd.read_csv(csv_path)
df.head()
```

Con el metodo head() es usado para examinar las primeras 5 filas del dataframe.

El proceso para cargar archivos es excel es el similar mediante el uso de la funcion "read_excel(csv_path)".
```
import pandas as pd
csv_path = "file1.xlsx"
df = pd.read_excel(csv_path)
df.head()
```

Podemos crear dataframes con diccionarios. Las llaves corresponderan a los labes "etiquetas" o sea los nombres de las columnas y los valures a las filas.

In [ ]:
songs = {
    "Album": ["Thiller","Back in Black", "The Dark side of the moon",
              "the bodyguard","bat out the hell"],
    "Released": [1982,1980,1973,1992,1977],
    "Length":['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33']
}
songs_frame = pd.DataFrame(songs)
songs_frame.head()

                       Album  Released    Length
0                    Thiller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark side of the moon      1973  00:42:49
3              the bodyguard      1992  00:57:44
4           bat out the hell      1977  00:46:33

Podemos crear un nuevo data frame a partir de otro.

In [ ]:
x = pd.DataFrame(songs_frame[["Length","Album"]])
x.head()

     Length                      Album
0  00:42:19                    Thiller
1  00:42:11              Back in Black
2  00:42:49  The Dark side of the moon
3  00:57:44              the bodyguard
4  00:46:33           bat out the hell

Una forma de acceder a elementos especificos es el metodo "iloc" (para ingresar a tra vez de numeros como index). Puedes acceder a la primera fila de la primera columna.
```
df.iloc[:,:] # fila, columna
```
O puedes usar el metodo loc para acceder a index del tipo str.
```
df.loc[:,'col_header'] # fila , columna
```

In [ ]:
df = songs_frame
df.iloc[0,0]

'Thiller'

In [ ]:
# Segunda fila primera columna
df.iloc[1,0]

'Back in Black'

In [ ]:
# prierma fila de la tercera columna
df.iloc[0,1]

1982

In [ ]:
# Primera fila de la columna album
df.loc[1,:"Album"]

Album    Back in Black
Name: 1, dtype: object

Tambien podemos utilizar slicing para asginar a variables. El resultado sera un dataframe comprimido con las filas y columnas seleccionadas.

In [ ]:
# Asignamos las primeras dos filas a las primeras 3 columnas a la variable z
z = df.iloc[0:2 ,  0:3]
z

           Album  Released    Length
0        Thiller      1982  00:42:19
1  Back in Black      1980  00:42:11

Tambien puedes usar slice in DF's para asignar valores a un nuevo data frame usando los nombres de columna. (Recuerda usar loc)

In [ ]:
# Asignamos las primeras tres filas y todas las columnas entre "album y length"
z = df.loc[0:2, "Album":"Length"]
z

                       Album  Released    Length
0                    Thiller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark side of the moon      1973  00:42:49

## Working with and Saving Data with Pandas

In [3]:
import pandas as pd
df_dic  = {
    "Album": ["Thiller","Back in Black", "The Dark side of the moon",
              "the bodyguard","bat out the hell","Hello","Hi I meet you"],
    "Released": [1982,1980,1973,1992,1977,1977,1980],
    "Length":['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33',"00:57:44","00:42:11"]
}

df = pd.DataFrame(df_dic)
df.head()

                       Album  Released    Length
0                    Thiller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark side of the moon      1973  00:42:49
3              the bodyguard      1992  00:57:44
4           bat out the hell      1977  00:46:33

List Unique Values.
We need to select the name of the colom to check and then the methond. unique()

In [6]:
df["Released"].unique()

array([1982, 1980, 1973, 1992, 1977])

We can create a new DB just selecting the values after 1980.

In [9]:
# We can use boolean operators
df["Released"] >= 1980 # Return a column with the index and results by each row.

0     True
1     True
2    False
3     True
4    False
5    False
6     True
Name: Released, dtype: bool

We can do this process in one line. Have a new data frame where each album was released after 1979.

In [11]:
df1 = df[ df["Released"] >=1980 ]
df1 # N

           Album  Released    Length
0        Thiller      1982  00:42:19
1  Back in Black      1980  00:42:11
3  the bodyguard      1992  00:57:44
6  Hi I meet you      1980  00:42:11

Save DataFrame as CSV.
```
df1.to_csv("new_songes.csv)
```